<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div class="top-bar">
      <p class="top-bar-text">Visualization Evaluation</h2>
    </div>

    <div class="container">
      <div class="instruction">
        <p class="instruction-header text-center">Instruction</p>
        <p class="instruction-text">
           In this visualization evaluation, you will be asked to respond to 10 multiple choice questions from 5 visualizations.
           All questions are not required to have any skill or preknowledge except an ability to read visual elements.
           Before proceeding, please make sure to allocate 5 - 10 minutes to complete this evaluation in one attempt.
        </p>
        <p class="instruction-text">
          Starting from the next screen, you will be first given 2 warmup questions that reflect similar attributes to visualizations you will
          see in the remaining 8 questions. Each question will show either a scatter plot or a bar plot and in the form of either a time-dependent
          slider graph or a small multiple graph.
        </p>
        <p class="instruction-text">
          Slider Graphs have a slider that you can use your finger to drag and shows data as time moves from left to right.
          Small Multiple graphs show individual timeslices of data that go from left to right and top to bottom.
        </p>
      </div>

      <div class="proceed">
        <form action="/experiment/1" method="post">
          <input type="hidden" name="participantId" value="<%= participantId %>">
          <button type="submit" name="button" class="btn btn-primary btn-center btn-start" id="btn-index-continue">Start</button>
        </form>
      </div>
    </div>
  </body>
</html>
