<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div class="top-bar">
      <p class="top-bar-text">Visualization Evaluation</h2>
    </div>

    <div class="container">
      <div class="experiment-instruction">
        <h2 class="text-header text-center">Instruction</h2>
      </div>
    </div>
  </body>
</html>
