<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>

    <div class="container welcome-index-block">
      <div class="welcome-message">
        <h2 class="welcome-message-text text-center">Thank you For Your Participation</h2>
        <h6 class="welcome-message-text text-center" style="font-size: 24px; bottom: 50px;">If you have any question, please feel free to contact Albert Feng at (919)-673-3165 or alfeng6@cs.stanford.edu</h6>
    </div>
  </body>
</html>
