<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div class="top-bar">
      <p class="top-bar-text">Device Issue</h2>
    </div>

    <div class="container welcome-index-block">
      <div class="welcome-message">
        <h2 class="welcome-message-text text-center">Please Use Your Mobile</h2>
        <h2 class="welcome-message-text text-center" style="margin-top: 20px;">To Participate In This Experiment</h2>
      </div>
    </div>
  </body>
</html>
