<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS448B Final Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
  </head>
  <body>
    <div class="top-bar">
      <p class="top-bar-text">Welcome</h2>
    </div>

    <div class="container welcome-index-block">
      <div class="welcome-message">
        <h2 class="welcome-message-text text-center">Welcome to Visualization Research</h2>
        <a href="/consent"><button type="button" name="button" class="btn btn-primary btn-center" id="btn-index-continue">Continue</button></a>
      </div>
    </div>
  </body>
</html>
