<div class="question">
  <p class="question-text"><b>Q1:</b> Among all three students, who receives the lowest overall math score from these four tests?</p>
  <input type="hidden" name="participantId" value="<%= participantId %>">
  <input type="radio" name="answer1" value="A" class="option-text"> Student A <br>
  <input type="radio" name="answer1" value="B" class="option-text"> Student B <br>
  <input type="radio" name="answer1" value="C" class="option-text"> Student C <br>
</div>
